<div class="footer-lab-seven">
  <div class="footer-lab-logo">
    <img src="/assets/img/LOGO_SEVEN_BLANC_LAB.png" alt="" id='seven-logo-footer' class='footer-lab-links-title'>
    <p>Pour le plaisir d'apprendre ensemble</p>
  </div>
  <div class="flex-row-between-start">
    <div class="footer-lab-media footer-lab-links-1">
      <p>Suivez-nous</p>
      <div class="footer-lab-media-icons">
        <a class='footer-links footer-link-linkedin'>LinkedIn</a>
  <!--       <img src="/assets/img/LOGO_FB.png" alt="">
        <img src="/assets/img/LOGO_INSTA.png" alt=""> -->
      </div>
    </div>
    <div class="footer-lab-links footer-lab-links-4">
      <p>Univers</p>
      <a href="">SEVEN</a>
      <a href="">SEVEN learn</a>
      <a href="">SEVEN home</a>
      <a href="">SEVEN invest</a>
    </div>
  </div>
<!--   <div class="footer-lab-links footer-lab-links-2">
    <p>Newsletter</p>
    <a href="">S'inscrire</a>
  </div> -->
<!--   <div class="footer-lab-links footer-lab-links-3">
    <p>A propos</p>
    <a href="">Méthode</a>
    <a href="">Notre équipe</a>
    <a href="">Contactez-nous</a>
  </div> -->
</div>
