<div class="footer-lab-seven">
  <div class="footer-lab-logo">
    <img src="/assets/img/LOGO_SEVEN_BLANC_LAB.png" alt="" id='seven-logo-footer' class='footer-lab-links-title'>
    <p>Pour le plaisir de réfléchir ensemble</p>
  </div>
  <div class="flex-row-between-start">
    <div class="footer-lab-media footer-lab-links-1">
      <p>Suivez-nous</p>
      <div class="footer-lab-media-icons">
        <a class='footer-links footer-link-linkedin'>LinkedIn</a>
      </div>
    </div>
    <div class="footer-lab-links footer-lab-links-4">
      <p>Univers</p>
      <a href="https://byseven.co" target="_blank">SEVEN</a>
      <a href="https://learn.byseven.co" target="_blank">SEVEN learn</a>
      <a href="https://learn.byseven.co/lab" target="_blank">SEVEN lab</a>
      <a href="https://home.byseven.co" target="_blank">SEVEN home</a>
      <a href="https://invest.byseven.co" target="_blank">SEVEN invest</a>
    </div>
  </div>
</div>
