<div class="footer-seven">
  <div class="flex-row-between-centered">
    <p style="font-family: 'Roboto Black';font-size: 12px;margin-right: 10px;">SEVEN</p>
    <p style="font-family: 'Roboto Light';font-size: 12px;">WE EMPOWER PEOPLE</p>
  </div>
  <div class="flex-row-between-end">
    <a class='footer-links'><img src="../assets/img/LOGO_LINKEDIN.png"></a>
    <a class='footer-links'><img src="../assets/img/LOGO_FB.png"></a>
    <a class='footer-links'><img src="../assets/img/LOGO_INSTA.png"></a>
  </div>
</div>
