<div class="footer-seven d-flex justify-content-between align-items-end width-100 height-9rem width-22rem py-1_5rem 
            from-medium__py-2rem px-2rem from-medium__px-5rem max-width-screen">

  <div class="d-flex flex-column from-medium__flex-row width-22rem">

    <a class="fs-1_2rem font-weight-700 my-0 ml-0 mr-1rem"
       href='https://byseven.co'
       target="_blank">SEVEN</a>

    <p class="fs-1_2rem"
       style="font-family: 'Montserrat Light';">WE EMPOWER PEOPLE</p>

  </div>

<!--   <div class="d-flex align-items-center">
      <p class="fs-1_4rem font-weight-500 bs-white mr-0_75rem">Le design de notre site vous surprend ?</p>
      <iconify-icon icon="entypo:round-brush" class="fs-1_4rem bs-yellow"></iconify-icon>
  </div> -->

  <div class="d-flex justify-content-end width-22rem">

    <a class='footer-links footer-link-linkedin'
       href="https://www.instagram.com/learn_byseven"
       target="_blank">
      <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
    </a>

    <a class='footer-links footer-link-linkedin'
       href='https://www.linkedin.com/company/learnbyseven/'
       target="_blank">
      <iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
    </a>

    <!-- <a class='footer-links'><img src="../assets/img/LOGO_FB.png"></a> -->

  </div>

</div>
