<div class="footer-seven">
  <div class="flex-row-between-centered">
    <a href='https://byseven.co' style="font-family: 'Montserrat Black';font-size: 12px;margin-right: 10px;">SEVEN</a>
    <p style="font-family: 'Montserrat Light';font-size: 12px;">WE EMPOWER PEOPLE</p>
  </div>
  <div class="flex-row-between-end">
    <a class='footer-links footer-link-linkedin'><i class="fab fa-linkedin-in"></i></a>
<!--     <a class='footer-links'><img src="../assets/img/LOGO_FB.png"></a>
    <a class='footer-links'><img src="../assets/img/LOGO_INSTA.png"></a> -->
  </div>
</div>
