<div class=" footer footer-yek-seven">
  <div class="footer-single-pages-logo">
    <img src="/assets/img/yek/LOGO-YEK-FOOTER.png" alt="" id='seven-logo-footer' class='footer-lab-links-title'>
    <p class='side-text'>Pour le plaisir de réfléchir ensemble</p>
  </div>
  <div class="footer-elements">
    <div class="footer-lab-links footer-lab-links-4">
      <a href="https://byseven.co" target="_blank">SEVEN</a>
      <a href="https://learn.byseven.co/lab" target="_blank">SEVEN lab</a>
      <a href="https://learn.byseven.co" target="_blank">SEVEN learn</a>
      <a href="https://home.byseven.co" target="_blank">SEVEN home</a>
      <a href="https://invest.byseven.co" target="_blank">SEVEN invest</a>
    </div>
    <div class="footer-lab-media footer-lab-links-1">
      <p>Suivez-nous</p>
      <div class="footer-single-pages-media-icons">
        <a href='https://fr.linkedin.com/company/learnbyseven' target='_blank'><i class="fab fa-linkedin fa-2x"></i></a>
        <a href='https://www.youtube.com/channel/UCO9EOVJ0YDgoeyHS74m8gHQ' target='_blank'><i class="fab fa-youtube-square fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>
