<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.ref == 'yek' %}
    <title>Yek by Seven</title>
  {% elsif page.ref == 'becos' %}
    <title>BeCOS by Seven</title>
  {% elsif page.ref == 'home' %}
    <title>Learn by Seven</title>
  {% else %}
    <title>{% if page.type != 'index' %} Learn by Seven - {{ page.title }}{% endif %}</title>
  {% endif %}
  <meta name="description" content="SEVEN, cabinet de formation créant des expériences d'apprentissage de façon à transformer les organisations.">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Learn by SEVEN - {{page.title}}">
  <meta name="twitter:description" content="{{page.teaser}}" />
  <meta name="twitter:image:src" content="{{site.url}}{{page.image_twitter}}" />
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="twitter:url" content="{{page.url}}" />
  <meta name="robots" content="index, follow">
  {% if page.custom_head %}
    <meta property="og:title" content="Learn by SEVEN - {{page.title}}">
    <meta property="og:image" content="{{page.image}}">
    <meta property="og:description" content="SEVEN, cabinet de formation créant des expériences d'apprentissage de façon à transformer les organisations.">
  {% elsif page.ref == 'becos' %}
    <meta property="og:title" content="BeCoS - Lancez votre carrière de
Chief of Staff">
    <meta property="og:image" content="https://learn.byseven.co/assets/img/becos/BeCOS-banner.png">
    <meta property="og:description" content="Un programme complet pour comprendre et apprendre la fonction stratégique de Chief of Staff.">
  {% else %}
    <meta property="og:title" content="Learn by SEVEN - Empowering people and organizations">
    <meta property="og:image" content="https://learn.byseven.co/assets/img/home-page.jpg">
    <meta property="og:description" content="SEVEN, cabinet de formation créant des expériences d'apprentissage de façon à transformer les organisations.">
  {% endif %}
  <meta property="og:site_name" content="{{site.url}}">
  <meta property="og:url" content="{{page.url}}">
  {% if page.layout == 'lab' or page.layout == 'lab_category' %}
    <link rel="icon" href="/assets/img/favicon-lab.ico">
  {% elsif page.ref == 'becos' %}
    <link rel="icon" href="/assets/img/becos/favicon-becos.ico">
  {% else %}
    <link rel="icon" href="/assets/img/favicon.ico">
  {% endif %}

  <script>
    var host = "learn.byseven.co";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/{{ page.type }}.css">

  <!-- Facebook -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v9.0" nonce="pqxmUHD5"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146774110-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-146774110-1');
  </script>
</head>
