<div class="navbar-seven">
  <a href="/">
    <img src="/assets/img/LOGO_BLANC_LEARN.png" alt="" id='seven-logo'>
  </a>
  <div>
    <div class="dropdown">
<!--       <img src="/assets/img/BURGER.png" style='height: 20px;' class="dropdown-toggle burger-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
<!--       <i class="fas fa-bars" style='font-size: 30px; color: white;' class="dropdown-toggle burger-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i> -->
      <div class="dropdown-toggle burger-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="dropdown-menu seven-burger-menu" aria-labelledby="dropdownMenuButton">
        <div>
          <a class="dropdown-item dropdown-item-1" href="/lab">Lab</a>
          <!-- <a class="dropdown-item dropdown-item-2" href="/trainings">Formations</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#dropdownMenuButton').click(function(){
      $(this).toggleClass('open');
    });

    $(function() {
      $(document).on("click", function() {
        $("#dropdownMenuButton").removeClass('open');
      });
    });
  });
</script>
