<div class="navbar-lab-seven sticky-top">
  <a href='../' class="flex-row-between-end">
    <img src="/assets/img/LOGO-LEARN-02.png" alt="" id='seven-logo'>
    <p>LE LAB</p>
  </a>
  <div class='flex-row-between-centered'>
    <button class='btn btn-navbar-lab-2' data-toggle='modal' data-target='#contactUs'><p>Contactez nous</p></button>
    <div class="dropdown">
      <button class="btn btn-navbar-lab-1 burger-icon" type="button" aria-haspopup="true" aria-expanded="false">
        <p>Categories</p>
        <div>
          <div class="dropdown-toggle burger-icon dropdown-menu-lab" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
    </button>
<!--       <button class="btn btn-navbar-lab-1 dropdown-toggle burger-icon" type="button" id="dropdownMenuButtonLab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style='margin-right: 1rem;' class="fas fa-bars"></i><p>Categories</p></button> -->
<!--       <div class="dropdown-menu dropdown-menu-lab" aria-labelledby="dropdownMenuButtonLab" style='left: -77px;'>
        <div>
          <a class="dropdown-item dropdown-item-1 navbar-categories-leadership" href="/" onmouseover="this.style.backgroundColor = '#F9D071'; this.style.color = 'white'" onmouseout="this.style.backgroundColor = 'white'; this.style.color = 'black'">Leadership</a>
          <a class="dropdown-item dropdown-item-2 navbar-categories-team-m" href="" onmouseover="this.style.backgroundColor = '#EF8C64'; this.style.color = 'white'" onmouseout="this.style.backgroundColor = 'white'; this.style.color = 'black'">Gestion d'équipe</a>
          <a class="dropdown-item dropdown-item-3 navbar-categories-communication" href="" onmouseover="this.style.backgroundColor = '#5AC3C8'; this.style.color = 'white'" onmouseout="this.style.backgroundColor = 'white'; this.style.color = 'black'">Communication</a>
          <a class="dropdown-item dropdown-item-4 navbar-categories-bizdev" href="">Business Development</a>
          <a class="dropdown-item dropdown-item-5 navbar-categories-digital" href="">Digital</a>
          <a class="dropdown-item dropdown-item-6 navbar-categories-project" href="">Gestion de projet</a>
          <a class="dropdown-item dropdown-item-7 navbar-categories-team-b" href="">Team Building</a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact_modal.html %}
  </div>
</div>

<div class="navbar-category-menu">
  <h4 class='category-1'>Categorie 1</h4>
  <h4 class='category-2'>Categorie 2</h4>
  <h4 class='category-3'>Categorie 3</h4>
  <h4 class='category-4'>Categorie 4</h4>
  <h4 class='category-5'>Categorie 5</h4>
  <h4 class='category-6'>Categorie 6</h4>
  <h4 class='category-7'>Categorie 7</h4>
</div>

<script>
  $(document).ready(function(){
    $('.dropdown-menu-lutton').click(function(){
      $(this).toggleClass('open');
    });
  });
</script>


<script>
  var button = document.querySelector('.btn-navbar-lab-1');
  var menu = document.querySelector('.navbar-category-menu');
  button.addEventListener('click', element => {
    button.querySelector('.dropdown-menu-lab').classList.toggle('open');
    if (menu.style.transform == 'translateX(-357.67px)') {
      menu.style.transform = 'translateX(0)';
    } else {
      menu.style.transform = 'translateX(-357.67px)';
    }
  })
</script>
