<div class="navbar-trainings-seven">
  <a href='../' class="flex-row-between-end">
    <img src="/assets/img/LOGO-LEARN-02.png" alt="" class='navbar-trainings-logo'>
    <img src="/assets/img/deliveroo-logo.png" alt="" class='navbar-trainings-logo' style='margin-left: 10px'>
  </a>
  <div>
    <!-- <button class='btn btn-navbar-trainings-1' data-toggle='modal' data-target='#contactUs'><p>Contactez nous</p></button> -->
      <a href="{{ page.custom_link }}" target="_blank">
      <button class='btn btn-navbar-trainings-1' style='background-color:#5FB9B2; border:1px solid #5FB9B2'><p>Inscrivez-vous</p></button></a>

    <!-- <div class="dropdown">
      <img src="/assets/img/BURGER_BLACK.png" style='height: 20px;' class="dropdown-toggle burger-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="dropdown-menu seven-burger-menu-trainings" aria-labelledby="dropdownMenuButton">
        <div>
          <a class="dropdown-item dropdown-item-1" href="/" target="_blank">Home</a>
          <a class="dropdown-item dropdown-item-2" href="/trainings">Trainings</a>
        </div>
      </div>
    </div> -->
  </div>
</div>

