// POPPINS

@font-face{
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf")
}

@font-face{
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf")
}

@font-face{
  font-family: "Poppins Italic";
  src: url("../fonts/Poppins-Italic.ttf")
}

@font-face{
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf")
}

@font-face{
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf")
}

// ROBOTO

@font-face{
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf")
}

@font-face{
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf")
}

@font-face{
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf")
}

@font-face{
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf")
}

@font-face{
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf")
}

@font-face{
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf")
}

// MONTSERRAT

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("../fonts/Montserrat-Thin.ttf");
}
