// POPPINS

@font-face{
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf")
}

@font-face{
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf")
}

@font-face{
  font-family: "Poppins Italic";
  src: url("../fonts/Poppins-Italic.ttf")
}

@font-face{
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf")
}

@font-face{
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf")
}

// ROBOTO

@font-face{
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf")
}

@font-face{
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf")
}

@font-face{
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf")
}

@font-face{
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf")
}

@font-face{
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf")
}

@font-face{
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf")
}

// INFODISP

@font-face{
  font-family: "InfoDispSemibold Roman";
  src: url("../fonts/InfoDispSemibold-Roman.otf");
}

@font-face{
  font-family: "InfoDispBook Italic";
  src: url("../fonts/InfoDispBook-Italic.otf");
}

@font-face{
  font-family: "InfoDispBook Roman";
  src: url("../fonts/InfoDispBook-Roman.otf");
}

@font-face{
  font-family: "InfoDispBold Roman";
  src: url("../fonts/InfoDispBold-Roman.otf");
}

@font-face{
  font-family: "InfoText Normal";
  src: url("../fonts/InfoText-Normal.otf");
}

@font-face{
  font-family: "InfoTextRegular Italic";
  src: url("../fonts/InfoTextRegular-Italic.otf");
}

@font-face{
  font-family: "InfoTextSemibold Roman";
  src: url("../fonts/InfoTextSemibold-Roman.otf");
}

@font-face{
  font-family: "InfoTextBook Italic";
  src: url("../fonts/InfoTextBook-Italic.otf");
}


