.container-seven {
  width: 100vw;
  background-image: url("/assets/img/LEARN_BANNER.png");
  background-size: cover;
  background-position: 40%;
  object-fit: cover;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  @include from-large {
    min-height: 100vh;
    max-width: 144rem;
  }
}

.home-main-container {
  width: 100vw;
  display: flex;
  padding: 5rem 2rem;
  overflow-y: hidden;
  margin: auto;

  @include from-medium {
    padding: 5rem;
    height: calc(100% - 10.7rem);
  }

  @include from-large {
    padding: 0 5rem;
    width: auto;
    overflow-y: visible;
  }

  & > div {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include from-large {
      flex-direction: row;
      align-items: center;
    }
  }

}

.home-main-left {
  position: relative;
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include from-large {
    overflow: hidden;
    width: 50%;
    margin: 0 5rem 0 0;
    box-sizing: content-box;
  }

  @include from-xlarge {
    margin: 0 50px 0 0;
  }

}

.glyphicon.glyphicon-chevron-up {
  width: 100%;
  height: 30px;
  margin-top: -10px;
  font-size: 30px;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  top: 955px;
}

.glyphicon {
  transition: color, transform;
  transition-duration: .3s, 1.2s;
  transition-timing-function: ease-out, ease-out;

  &:hover {
    color: #FBC84A !important;
  }
}

.home-main-left-description {
  width: 100%;

  @include from-large {
    margin: 0 50px 0 0;
  }

  h1 {
    letter-spacing: 0.2px;
    line-height: 29px;
    margin-bottom: 2rem;
    font-size: 20px;

    @include from-medium {
      font-size: 21px;
    }
  }

  p {
    letter-spacing: 0.3px;
    line-height: 21px;
  }

  .span_border {
    width: 1rem;
    height: 29px;
    border-bottom: 0.08em solid #FBC84A;
    animation: blink 1s infinite;
  }

  @keyframes blink { 50% { border-color:rgba(0,0,0,0); }  }

  span {
    max-width: 20rem;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    color: #FBC84A;
  }
}

.home-main-left-statistics {
  width: 100%;
  margin-top: 5rem;

  div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #FBC84A;
    width: 30%;

    @include from-large {
      width: 33%;
    }
  }

  h2 {
    font-family: 'Montserrat Thin';
    font-size: 24px;
    margin: 0;
    position: relative;

    @include from-medium {
      font-size: 32px;
    }
  }

  h2 > span {
    color: #FBC84A;
    font-size: 24px;
    position: absolute;
    left: 7rem;
    top: 0;
  }

  p {
    font-family: 'Montserrat Bold';
    font-size: 11px;
    margin-left: 3px;
    margin-bottom: 0;
    width: 100px;
  }
}

.home-main-left-statistics-1 {

  p:last-of-type {
    // padding-right: 50px;
  }
}

.home-main-left-statistics-3 {
  border: none !important;

}

.home-main-left-customers {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 4rem;
  }

  ul > li > img {
    height: 4rem;

    @include from-medium {
      height: 10rem;
    }

    @include from-xlarge {
      max-width: 10rem;
    }
  }

  ul {
    position: relative;
    // top: 50%;
    width: 100%;
    height: 10rem;
    // // left: 50%;
    // margin-left: -400px;
    // margin-top: -130px;
  }

  ul > li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 100px;
    opacity: 0;
    // padding-top: 40px;
    text-align: center;
    transition: 1s opacity;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel_active {
    opacity: 1;
  }

  @include from-medium {

    img {
      height: 7rem;
    }
  }
}

.home-main-left-details {
  display: none;
  cursor: pointer;

  @include from-large {
    display: block;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;

    #home-main-left-details-button {
      text-align: center;
      margin: 0 auto;
      padding: 0;
      transition: all 0.2s ease-in-out;
      position: relative;

      &:before,&:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 1px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.3s;
        opacity: 0;
        background-color: #FBC84A;
        left: 0;
      }
    }

    &:hover {
      cursor: pointer;
      #home-main-left-details-button {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    a {
      font-size: 12px;
      font-family: 'Montserrat Regular';
      color: rgb(254, 201, 63);
    }
  }
}

#home-main-left-retractable {
  transition:transform 1.2s ease-out;
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include from-large {
    width: auto;
    justify-content: space-between;
  }
}

#home-main-left-customers-comments {
  height: 100%;
  margin-top: 7rem;
  height: auto;
  transition:transform 1.2s ease-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include from-large {
    display: flex;
    margin-top: 0;
    padding-top: .5rem;
    position: absolute;
    top: 995px;
    left: 0;
    z-index: 100;
    height: 0;
    width: 100%;
  }

  img {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 125px;
    width: 125px;
    border-radius: 50%;
  }

  p:first-of-type {
    font-family: 'Montserrat Bold';
    font-size: 2.1rem;
    margin-bottom: 3rem;
  }

  .item {
    text-align: center;

    @include from-xlarge {
      padding: 0 75px;
    }

    p:first-of-type {
      font-family: 'Montserrat Bold';
      font-size: 1.4rem;
      margin: 0;
    }

    p:nth-of-type(2) {
      font-family: 'Montserrat Regular';
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    p:last-of-type {
      text-align: justify;
      font-family: 'Montserrat Italic';
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
    }

    @include from-medium {
      margin-top: 100px;
    }
  }

  .carousel-control > span {
    top: 150px !important;

    @include from-xlarge {
      top: 32rem !important;
    }
  }

  .right.carousel-control {
    right : 0;

    @include from-xlarge {
      right: -30px;
    }
  }

  .left.carousel-control {
    left: 0;

    @include from-xlarge {
      left: -30px;
    }
  }
}

.home-main-right {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @include from-large {
    // height: 75%;
    margin: 0 0 0 5rem;
    width: 40%;
    align-items: flex-end;
    justify-content: space-between;
    // min-height: 56rem;
  }

  @include from-xlarge {
    margin: 0 50px 0 0;
  }
}

.home-main-right-description {

  display: flex;
  justify-content: center;
  height: 47px;

  @include from-xlarge {
    width: 100%;
    padding-right: 50px;
    justify-content: flex-start;
  }

  h2 {
    font-family: 'Montserrat Light';
    font-size: 21px;
    margin: 0;
  }
}

.home-main-right-form {
  width: 100%;
  max-width: 350px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input, textarea {
    background-color: rgba(0,0,0,0) !important;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    color: white;
  }

  input::placeholder, textarea::placeholder {
    color: white;
  }

  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
  }

  textarea {
    height: 100%;
  }

  button {
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    margin-right: 20px;
    float: left;
    max-width: 10rem;

    &:hover {
      background-color: #F9D071;
      border: 1px solid #F9D071;

      p {
        color: black;
      }
    }

     p {
      padding-left: 0;
      margin: 0;
      color: white;
      font-family: 'Montserrat Light';
      font-size: 14px;
    }
  }

  .form-group {
    margin: 0;

    &:first-of-type {
      margin: 3rem 0 2rem 0;
    }

    &:last-of-type {
      margin: 3.1rem 0 2rem 0;
      flex-grow: 1;
    }

    @include from-medium-high {
      &:first-of-type {
        margin: 4rem 0 2.5rem 0;
      }

      &:last-of-type {
        margin: 4.1rem 0 2.3rem 0;
      }
    }

    .form-control:focus {
      border-color: #FBC84A;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  @include from-medium-high {
    max-width: 80rem;
  }
}
