body {
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-single-pages-seven {
  min-height: 100vh;
  width: 100%;
  // max-width: 1440px;
  background-color: white;
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  h1, h2 {
    font-family: 'Montserrat Bold';
    font-size: 2.4rem;
    margin: 0;
    color: black;

    @include from-large {
      font-size: 3.6rem;
    }
  }

  h3 {
    font-family: 'Montserrat Regular';
    font-size: 1.8rem;
    margin: 0;
    color: black;
  }

  h4 {
    font-family: 'Montserrat Bold';
    font-size: 2rem;
    margin: 0;
  }

  ul {
    padding: 0 0 0 1.4rem;
    margin: 0;
  }

  p, li {
    font-family: 'Montserrat Regular';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: black;

    @include from-large {
      font-size: 1.8rem;
    }
  }

  a {
    color: black;

    &:hover {
      color: black;
    }
  }

  span {
    font-family: 'Montserrat Italic';
    font-size: 1.2rem;
  }

  button {
    font-family: 'Montserrat Bold';
    font-size: 1.2rem;
    margin: 0;
    padding: 1.5rem 1rem;
    border-radius: .4rem;
    font-weight: bold;
    background: transparent;
    border: none;
  }
}

// CONTAINER

.yek-container, .becos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.becos-container {
  background-color: white;
  background-image: url("../img/becos/BeCOS_wallpaper.png");
  background-position: top 1100px left 0;
  background-repeat: round;
}

.yek-container {
  background-color: white;
  background-image: url("../img/yek/Yek_wallpaper.png");
  background-position: top 1100px left 0;
  background-repeat: repeat;
}

// NAVBAR

.becos-sticky, .yek-sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
}

.yek-call-to-action, .becos-call-to-action {
  display:  flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
}

.yek-call-to-action {
  background-color: #FCC94A;
}

.becos-call-to-action {
  background-color: #4BC1C6;
}

.yek-navbar-div__navbar, .becos-navbar-div__navbar {
  height: 18.6rem;
  width: 100vw;
  margin-top: 4.5rem;
  padding: 0 1rem;
}

.yek-navbar-div__navbar-mobile, .becos-navbar-div__navbar-mobile {
  position: fixed;
  left: 0;
  top: 0;
  height: 13rem;
  width: 100vw;
  background-color: white;
  z-index: 100;

  .yek-navbar-div__navbar-mobile-logo, .becos-navbar-div__navbar-mobile-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
  }

  .becos-navbar-div__navbar__subscribe-mobile {
    background: #4BC1C6;
    width: auto;
    padding: 1rem;
  }

  .yek-navbar-div__navbar__subscribe-mobile {
    background: #FCC94A;
    width: auto;
    padding: 1rem;
  }
}

.yek-navbar-div__navbar, .becos-navbar-div__navbar {
  display: none;

  @include from-large {
    display: block;
  }
}

.yek-navbar-div__navbar-mobile, .becos-navbar-div__navbar-mobile {
  align-items: center;

  @include from-large {
    display: none;
  }
}

.yek-navbar-div__navbar-buttons, .becos-navbar-div__navbar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include from-large {
    padding: 5rem 9rem;
  }
}

.becos-button__white, .yek-button__white {
  border: 1px solid transparent !important;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  width: 12rem;

  @include from-large {
    width: auto;
  }

  &:hover {
    border: 1px solid black !important;
  }
}

.becos-button__white-blue {
  border: 1px solid #4BC1C6 !important;
  background: white !important;
  opacity: .7;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  width: 12rem;

  @include from-large {
    width: auto;
  }

  &:hover {
    border: 1px solid #4BC1C6 !important;
    opacity: 1;
  }
}

.yek-button__white-yellow {
  border: 1px solid #FCC94A !important;
  background: white !important;
  opacity: .7;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  width: 12rem;

  @include from-large {
    width: auto;
  }

  &:hover {
    border: 1px solid #FCC94A !important;
    opacity: 1;
  }
}

.becos-button__blue {
  background-color: #4BC1C6 !important;
  border: 1px solid #4BC1C6 !important;
  opacity: .7;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  width: 12rem;

  @include from-large {
    width: auto;
  }

  &:hover {
    opacity: 1;
    border: 1px solid #4BC1C6 !important;
  }
}

.yek-button__yellow {
  background-color: #FCC94A !important;
  border: 1px solid #FCC94A !important;
  opacity: .7;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  width: 12rem;

  @include from-large {
    width: auto;
  }

  &:hover {
    opacity: 1;
    border: 1px solid #FCC94A !important;
  }
}

.yek-navbar-div__navbar, .yek-navbar-div__navbar-mobile, .becos-navbar-div__navbar, .becos-navbar-div__navbar-mobile {

  button {
    margin-left: 5rem;
    width: 145px;
  }
}

.becos-dropdown {
  padding: 1rem;
  margin-left: 1rem;
  color: #4BC1C6;
  border-radius: .4rem;
  opacity: .7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  i {
    font-size: 1.6rem;
  }
}

.yek-dropdown {
  padding: 1rem;
  margin-left: 1rem;
  color: #FCC94A;
  border-radius: .4rem;
  opacity: .7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  i {
    font-size: 1.6rem;
  }
}

// BANNER

.yek-banner, .becos-banner {
  width: 100vw;
  padding: 1rem;
  margin: 12rem 0 5rem 0;

  @include from-large {
    padding: 5rem 10rem 10rem 10rem;
    width: 100%;
    margin: 0;
  }
}

.yek-banner__teaser, .becos-banner__teaser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include from-large {
    flex-direction: row;
    align-items: flex-start;
  }
}

.yek-banner__teaser__text, .becos-banner__teaser__text {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include from-large {
    display: block;
    padding-right: 18rem;
    margin: 0;
  }

  h1, p {
    margin-bottom: 3rem;
    text-align: left;
  }
}

.yek-banner__teaser__img, .becos-banner__teaser__img {
  img {
    width: 85vw;

    @include from-large {
      width: 50rem;
      margin: 0;
    }
  }
}

.yek-banner__text__buttons, .becos-banner__text__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.yek-banner__text__buttons, .becos-banner__text__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button:first-of-type {
    margin-right: 2rem;
  }
}

// DATES

.yek-dates, .becos-dates {
  border-radius: .4rem;
  margin: 0 1rem 5rem 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;

  @include from-large {
    width: auto;
    margin: 0 0 10rem 0;
  }
}

.yek-dates {
  border: 2px solid #FCC94A;
}

.becos-dates {
  border: 2px solid #4BC1C6;
}

.yek-dates__date {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;

  @include from-large {
    width: auto;
    padding: 2rem;
  }

  &:first-of-type {
    border-bottom: 2px solid #FCC94A;
  }

  .yek-dates__date__left {
    width: 50%;
    min-width: 20rem;

    @include from-large {
      width: 25rem;
    }

    @include from-large {
      width: 40rem;
    }

    p {
      font-size: 1.2rem;

      &:first-of-type {
        font-family: 'Montserrat Bold';
        margin-bottom: 1rem;
      }

      @include from-large {
        font-size: 1.6rem;

        &:first-of-type {
          margin-bottom: 2rem;
        }
      }
    }
  }

  button {
    background-color: #FCC94A;
    opacity: .7;
    width: 12rem;

    &:hover {
      opacity: 1;
    }

    @include from-large {
      width: 14.5rem;
    }
  }
}

.becos-dates__date {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;

  @include from-large {
    width: auto;
    padding: 2rem;
  }

  &:first-of-type {
    border-bottom: 2px solid #4BC1C6;
  }

  .becos-dates__date__left {
    width: 50%;
    min-width: 20rem;

    @include from-large {
      width: 25rem;
    }

    @include from-large {
      width: 40rem;
    }

    p {
      font-size: 1.2rem;

      &:first-of-type {
        font-family: 'Montserrat Bold';
        margin-bottom: 1rem;
      }

      @include from-large {
        font-size: 1.6rem;

        &:first-of-type {
          margin-bottom: 2rem;
        }
      }
    }
  }

  button {
    background-color: #4BC1C6;
    opacity: .7;
    width: 12rem;

    &:hover {
      opacity: 1;
    }

    @include from-large {
      width: 14.5rem;
    }
  }
}

// METHOD

.yek-method, .yek-10steps-graduation, .yek-trainers, .yek-contact, .becos-method, .becos-trainers, .becos-needs, .becos-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h2 {
    margin-bottom: 3rem;
  }
}

.yek-method, .becos-method {
  width: 85vw;
  padding-bottom: 5rem;

  @include from-large {
    width: 100%;
    padding: 0 10rem 10rem 10rem;
  }
}

.yek-method__blocks, .yek-method__blocks--mobile, .becos-method__blocks, .becos-method__blocks--mobile {
  width: 100%;

  h3 {
    font-family: 'Montserrat Bold';
    margin: 2rem 0;
  }

  ul {
    list-style-type: disc;
  }

  span {
    font-size: 1.6rem;
    font-family: 'Montserrat Bold';

    @include from-large {
      font-size: 1.8rem;
    }
  }
}

.becos-method__blocks, .yek-method__blocks {
  display: none;

  @include from-large {
    display: block;
  }
}

.becos-method__blocks--mobile {
  border: 2px solid #4BC1C6;

  @include from-large {
    display: none;
  }

  div {
    background: white;
    border-radius: .4rem;
    padding: 2rem;
    cursor: pointer;
    border-bottom: 2px solid #4BC1C6;

    h3 {
      margin: 0;
    }
  }

  div:last-of-type {
    border-bottom: 0;
  }
}

.yek-method__blocks--mobile {
  border: 2px solid #FCC94A;

  @include from-large {
    display: none;
  }

  div {
    background: white;
    border-radius: .4rem;
    padding: 2rem;
    cursor: pointer;
    border-bottom: 2px solid #FCC94A;

    h3 {
      margin: 0;
    }
  }

  div:last-of-type {
    border-bottom: 0;
  }
}

// 10 STEPS

.yek-10steps {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10rem;
  position: relative;

  @include from-large {
    padding: 0 10rem;
  }
}

.yek-10steps-graduation {

  h2 {
    text-align: center;
  }

  @include from-large {
    margin-bottom: 5rem;
  }
}

.yek-10steps__selection {
  width: 80%;
  display: none;
  justify-content: space-between;
  align-items: flex-start;

  @include from-large {
    display: flex;
  }
}

.yek-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  cursor: pointer;

  p {
    font-family: 'Montserrat Bold';
    font-size: 1.8rem;
    color: #FCC94A;
  }

  .yek-step__circle {
    border-radius: 50%;
    background-color: #FCC94A;
    height: 2rem;
    width: 2rem;
  }

}

.yek-step-line {
  // width: 5rem;
  flex-grow: 1;
  height: 4rem;
  border-bottom: 2px solid #FCC94A;
}


.yek-10steps__contents {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;

  .yek-step__content {
    width: 65%;
    min-height: 245px;
    padding: 2rem;
    border: 2px solid #FCC94A;
    background-color: white;

    h4 {
      font-family: 'Montserrat Bold';
      font-size: 1.6rem;
    }
  }

  @include from-large {
    display: flex;
  }
}

.yek-10steps__contents--mobile {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .yek-step__content {
    min-width: 85vw;
    min-height: 245px;
    padding: 2rem;
    border: 2px solid #FCC94A;
    background-color: white;
    border-radius: .4rem;
    margin: 0 7.5vw;
    cursor: grab;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);

    h4 {
      font-family: 'Montserrat Bold';
      font-size: 1.6rem;
    }
  }

  @include from-medium {

    .yek-step__content {
      min-width: 375px;
    }
  }

  @include from-large {
    display: none;
  }
}

// TRAINERS

.yek-trainers, .yek-contact, .becos-trainers, .becos-needs, .becos-contact {
  width: 85vw;
  position: relative;

  @include from-large {
    width: 100%;
  }
}

.yek-trainers__list, .yek-trainers__list, .becos-trainers__list, .becos-trainers__list, .becos-needs__list {
  width: 100vw;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include from-large {
    width: 100%;
    padding: 0 10rem 10rem 10rem;
  }

  @include from-xlarge {
    width: 100%;
    padding: 0 20rem 10rem 20rem;
  }
}

.yek-trainers__footer, .becos-trainers__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10rem;

  h3 {
    font-family: 'Montserrat Bold';
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  @include from-large {
    width: 100%;
    padding: 0 20rem 10rem 20rem;
  }

  .becos-trainers__footer-blue {
    font-family: 'Montserrat Bold';
    font-size: 1.4rem;
    color: #4BC1C6;
  }
}

.becos-trainer__footer {

  span {
    font-weight: 700;
    color: #4BC1C6;
  }
}

.yek-trainer__footer {

  span {
    font-weight: 700;
    color: #FCC94A;
  }
}

.yek-trainers__card, .becos-trainers__card, .becos-needs__card {
  display: flex;
  flex-direction: column;
  min-width: 85vw;
  border-radius: .4rem;
  margin: 0 7.5vw;
  cursor: grab;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);

  @include from-medium {
    width: 40rem;
    min-width: unset;
    margin: 0;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 285px;
    object-fit: cover;
  }
}

.yek-trainers__caret--right, .yek-needs__caret--right, .becos-trainers__caret--right, .becos-needs__caret--right {
  font-size: 2.4rem;
  position: absolute;
    top: 45%;
    right: -2rem;
  z-index: 10;

  @include from-medium {
    display: none;
  }
}

.yek-trainers__caret--left, .yek-needs__caret--left, .becos-trainers__caret--left, .becos-needs__caret--left {
  font-size: 2.4rem;
  position: absolute;
    top: 45%;
    left: -2rem;
  z-index: 10;

  @include from-medium {
    display: none;
  }
}

.yek-10steps__caret--right {
  font-size: 2.4rem;
  position: absolute;
    top: 45%;
    right: 1rem;
  z-index: 10;

  @include from-medium {
    display: none;
  }
}

.yek-10steps__caret--left {
  font-size: 2.4rem;
  position: absolute;
    top: 45%;
    left: 1rem;
  z-index: 10;

  @include from-medium {
    display: none;
  }
}

.becos-noscos__caret--right, .yek-nostrainers__caret--right {
  font-size: 2.4rem;
  position: absolute;
    top: 40%;
    right: 1rem;
  z-index: 10;

  @include from-medium {
    display: none;
  }
}

.becos-noscos__caret--left, .yek-nostrainers__caret--left {
  font-size: 2.4rem;
  position: absolute;
    top: 40%;
    left: 1rem;
  z-index: 10;

  @include from-medium {
    display: none;
  }
}

.yek-trainers__card-text {
  min-height: 36rem;
  padding: 2rem;
  border: 2px solid #FCC94A;
  border-top: none;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  flex-grow: 1;
  background-color: white;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    i {
      font-size: 1.8rem;
    }
  }
}

.becos-trainers__card-text {
  padding: 2rem;
  border: 2px solid #4BC1C6;
  min-height: 40rem;
  border-top: none;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  flex-grow: 1;
  background-color: white;

  h4 {
    height: 5rem;
    margin-bottom: 2rem;
    line-height: 2.8rem;
  }

  span {
    font-size: 2rem;
    margin: 0;
  }
}

// NOS

.becos-noscos, .yek-nostrainers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;

  h2 {
    margin-bottom: 3rem;
  }

  @include from-large {
    padding: 0 10rem 10rem 10rem;
  }
}

.becos-noscos__cards-list, .yek-nostrainers__cards-list {
  width: 100vw;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @include from-large {
    width: 100%;
    padding: 0 10rem;
  }
}

.becos-noscos__card {
  // width: 25rem;
  height: 38rem;
  min-width: 85vw;
  border-radius: .4rem;
  margin: 0 7.5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  border: 3px solid #4BC1C6;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);

  @include from-large {
    width: 25rem;
    min-width: unset;
    margin: 0;
  }

  .becos-noscos__avatar {
    width: 100%;
    min-height: 24.4rem;
    object-fit: cover;
  }

  .becos-noscos__card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
    text-align: center;

    h4 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    span {
      margin-bottom: 1rem;
    }
  }

  .becos-noscos__logo {
    height: 5rem;
    width: auto;
  }
}

.yek-nostrainers__card {
  // width: 25rem;
  height: 38rem;
  min-width: 85vw;
  border-radius: .4rem;
  margin: 0 7.5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  border: 3px solid #FCC94A;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);

  @include from-large {
    width: 25rem;
    min-width: unset;
    margin: 0;
  }

  .yek-nostrainers__avatar {
    width: 100%;
    min-height: 24.4rem;
    object-fit: cover;
  }

  .yek-nostrainers__card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
    text-align: center;

    h4 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    span {
      margin-bottom: 1rem;
    }
  }

  .yek-nostrainers__logo {
    height: 5rem;
    width: auto;
  }
}

// NEEDS

// .becos-needs__card {
//   border: 2px solid #4BC1C6;
//   border-radius: .4rem;
//   height: 32rem;
//   width: 25rem;
//   background-color: white;
// }

// .becos-needs__header {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   padding: 2rem 1rem 0 1rem;

//   img {
//     width: 8rem;
//     height: 8rem;
//     object-fit: cover;
//     border-radius: 50%;
//     margin-right: 2rem;
//   }
// }

// .becos-needs__card-text {
//   padding: 2rem;
//   border-top: none;
//   flex-grow: 1;

//   p {
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//   }
// }

// CONTACT

.yek-contact, .becos-contact {
  margin: 5rem 0;
  text-align: center;
}

.yek-contact__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 40rem;

  @include from-large {
    flex-direction: row;
  }

  a {
    color: black;
  }

  button {
    border: 1px solid transparent;

    &:hover {
      border: 1px solid black;
    }

    &:last-of-type {
      background-color: #FCC94A;
      opacity: .7;

      &:hover {
        opacity: 1;
        border: 1px solid #FCC94A;
      }
    }
  }
}

.becos-contact__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 40rem;

  @include from-large {
    flex-direction: row;
  }

  a {
    color: black;
  }

  button {
    border: 1px solid transparent;

    &:hover {
      border: 1px solid black;
    }

    &:last-of-type {
      background-color: #4BC1C6;
      opacity: .7;

      &:hover {
        opacity: 1;
        border: 1px solid #4BC1C6;
      }
    }
  }
}

// MODALS

.modal-header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.close {
  padding: 0 !important;

  span {
    font-size: 3rem;
  }
}

.becos-modal__contact-button {
  min-width: 20rem;
  background-color: #4BC1C6 !important;
  opacity: .7;
  font-size: 1.6rem;
  color: white;

  &:hover {
    opacity: 1;
  }
}


// MODALS

.becos-modal-header {
  background-color: #4BC1C6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;

  .becos-modal-title {
    justify-content: center !important;
    align-items: center;
  }

  h3 {
    color: white;
    font-family: 'Montserrat Bold';
  }
}

.yek-modal-header {
  background-color: #FCC94A;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;

  .becos-modal-title {
    justify-content: center !important;
    align-items: center;
  }

  h3 {
    color: white;
    font-family: 'Montserrat Bold';
  }
}

.becos-modal-infos, .yek-modal-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;

  .becos-modal-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    p:first-of-type {
      font-family: 'Montserrat Bold';
      margin-right: 1rem;
    }
  }
}

.becos-form-group, .becos-form-group-sm, .becos-form-group-message, .becos-form-group-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-family: 'Montserrat Bold';
    font-size: 1.6rem;
  }

  input, select {
    width: 18rem;
    border: 1px solid #4BC1C6;
  }
}

.yek-form-group, .yek-form-group-sm, .yek-form-group-message, .yek-form-group-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-family: 'Montserrat Bold';
    font-size: 1.6rem;
  }

  input, select {
    width: 18rem;
    border: 1px solid #FCC94A;
  }
}

.becos-form-group, .becos-form-group-message, .becos-form-group-checkbox, .yek-form-group, .yek-form-group-message, .yek-form-group-checkbox {

  @include from-large {
    padding: 0 10rem;
  }
}

.becos-form-group-message {
  flex-direction: column;
  align-items: flex-start;

  label {
    margin: 2rem 0;
  }

  textarea {
    height: 15rem;
    border: 1px solid #4BC1C6;
  }
}

.yek-form-group-message {
  flex-direction: column;
  align-items: flex-start;

  label {
    margin: 2rem 0;
  }

  textarea {
    height: 15rem;
    border: 1px solid #4BC1C6;
  }
}

.becos-form-group-checkbox, .yek-form-group-checkbox {
  margin: 3rem 0;

  input {
    width: 1.4rem;
    margin: 0 2rem 0 0;
  }

  label {
    font-size: 1.2rem;
  }
}


// FORMS

#form-date, #form-time {
  padding: 0 1.2rem;
}
