.main-thank-you {
  min-height: calc(100vh - 88.5px);

  h1 {
    font-size: 2.3rem;
    font-weight: 700;
  }

  p {
    letter-spacing: 0.3px;
    line-height: 21px;
  }

  button {
    background-color: rgba(0,0,0,0);
    border: 3px solid #FCC74C;
    border-radius: 3px;
    float: left;

    p {
      font-size: 2.3rem;
      color: #FCC74C;
    }

    &:hover {
      background-color: #FCC74C;

      p {
        color: black;
      }
    }
  }
}

.main-thank-you-element {
  margin-bottom: 5rem;

  @include from-medium {
    margin-bottom: 0;

    &:first-of-type {
      padding-right: 3rem;
      border-right: 2px solid white;
    }

    &:last-of-type {
      padding-left: 3rem;
    }

  }
}
