html {
  overflow: visible !important;
}

.container-trainings-seven {
  min-height: 100vh;
  width: 100vw;
  max-width: 1440px;
  background-color: white;
  overflow: visible;
  position: relative;
  padding-bottom: 256px;
  padding-top: 54px;

  h1 {
    color: black;
    line-height: 3.6rem;
  }

  p {
    color: #5F6471;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  h3 {
    line-height: 2.3rem;
  }

  a {
    color: black;
  }

  @include from-medium {
    padding-bottom: 0px;
  }
}

.banner-trainings {
  height: 120px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 10px 30px 10px;
  @include from-medium-high {
    padding: 0 100px;
  }
}

.banner-trainings-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    margin-bottom: 1rem;
  }

  h4 {
    font-family: 'Montserrat Light';
    font-size: 2rem;
    line-height: 1.8;
  }
}

.main-trainings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  padding: 0 10px;
  margin: 10px;
  @include from-medium-high {
    padding: 0 100px;
  }
}

.underline {
  color: black;
  border-bottom: 5px solid #F9D071;
}

.main-trainings-left {
  margin-bottom: 30px;
  a {
    color: black;
    font-family: 'Montserrat Bold';
    transition: color 0.25s ease-in-out;
    font-size: 1.6rem;
  }

  li > a {
    padding: 10px 0px;
  }

  a:hover, a:focus {
    border: none !important;
    background-color: rgb(255,255,255) !important;
    color: white;
  }

  li:first-of-type > a:hover, li:first-of-type > a:focus {
    color: grey;
  }

  li:nth-of-type(2) > a:hover, li:nth-of-type(2) > a:focus {
    color: #E95F48;
  }

  li:nth-of-type(3) > a:hover, li:nth-of-type(3) > a:focus {
    color: #EF8C64;
  }

  li:nth-of-type(4) > a:hover, li:nth-of-type(4) > a:focus {
    color: #F9D071;
  }

  li:nth-of-type(5) > a:hover, li:nth-of-type(5) > a:focus {
    color: #F3B0A3;
  }

  li:nth-of-type(6) > a:hover, li:nth-of-type(6) > a:focus {
    color: #5AC3C8;
  }

  li:nth-of-type(7) > a:hover, li:nth-of-type(7) > a:focus {
    color: #739DBF;
  }
    li:nth-of-type(8) > a:hover, li:nth-of-type(8) > a:focus {
    color: #845ec2;
  }

  @include from-medium-low {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    li > a {
    padding: 10px 15px;
    }
  }
}

.main-trainings-right {
  width: 100%;
  position: relative;
  // min-height: calc(100vh - 526px);

  p {
    color: black;
  }

  .tab-pane {
    width: 100%;
    // position:absolute;
    // top: 0;
  }

  @include from-medium-high {
    padding: 0px;
  }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-trainings-card {
  margin: 10px;
  position:relative;
  height: 300px;
  width: 280px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .05);
  transition: all .25s ease-in-out;

  h5 {
    text-align:center;
    font-family: 'Montserrat Bold';
    font-size: 16px;
    color: white;
    transition: all .25s ease-in-out;
  }

  p {
    margin: 0;
    font-family: 'Montserrat Italic';
    font-size: 12px;
    color: white;
    transition: all .25s ease-in-out;
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
  }

  &:hover {
    border-radius: 15px;

    a {
      border-radius: 15px;
    }
  }

  .visuallyhidden {
    opacity: 0;
  }

  .picto-white {
    display:none;
    transition: all .25s ease-in-out;
  }

  .picto-black {
    transition: all .25s ease-in-out;
  }

  .training-main-info-flex {
    display: flex;
    align-items: center;
  }
  p {
    color: white;
  }
  .training-page-picto {
    width: 35px;
  }
    .training-page-picto-lieu {
    width: 35px;
    padding: 5px;
  }
}
