---
layout: trainings
type: trainings
permalink: /trainings/
absolute_link: "https://learn.byseven.co/trainings/team-building/gérer-son-temps"
title: Seven | Formations
lang: fr
ref: trainings
---

<div class="banner-trainings">
  <div class="banner-trainings-description">
    <h1>Formations</h1>
    <h4>Des <span class="underline">formations rythmées</span> et une expérience riche pour tous nos participants</h4>
  </div>
</div>
<div class="main-trainings">
  <div class="center">
    <ul class="nav main-trainings-left" id="menuTab" role="tablist">
      <li class="nav-item"><a class="nav-link active" id="all-tab" data-toggle="tab" role="tab" aria-controls="all" aria-selected="true" href="#all">All</a></li>
      <li class="nav-item"><a class="nav-link" id="leadership-tab" data-toggle="tab" role="tab" aria-controls="leadership" aria-selected="true" href="#leadership">Leadership</a></li>
      <li class="nav-item"><a class="nav-link" id="team-management-tab" data-toggle="tab" role="tab" aria-controls="team-management" aria-selected="true" href="#team-management">Gestion d'équipe</a></li>
      <li class="nav-item"><a class="nav-link" id="communication-tab" data-toggle="tab" role="tab" aria-controls="communication" aria-selected="true" href="#communication">Communication</a></li>
      <li class="nav-item"><a class="nav-link" id="business-tab" data-toggle="tab" role="tab" aria-controls="business" aria-selected="true" href="#business">Business Development</a></li>
    </ul>
    <ul class="nav main-trainings-left-2" id="menuTab" role="tablist">
      <li class="nav-item"><a class="nav-link" id="project-tab" data-toggle="tab" role="tab" aria-controls="project" aria-selected="true" href="#project">Gestion de projet</a></li>
      <li class="nav-item"><a class="nav-link" id="team-building-tab" data-toggle="tab" role="tab" aria-controls="team-building" aria-selected="true" href="#team-building">Team Building</a></li>
      <li class="nav-item"><a class="nav-link" id="digital-tab" data-toggle="tab" role="tab" aria-controls="digital" aria-selected="true" href="#digital">Outils digitaux</a></li>
      <li class="nav-item"><a class="nav-link" id="tech-tab" data-toggle="tab" role="tab" aria-controls="tech" aria-selected="true" href="#tech">Nouvelle Tech</a></li>
      <li class="nav-item"><a class="nav-link" id="deliveroo-tab" data-toggle="tab" role="tab" aria-controls="deliveroo" aria-selected="true" href="#deliveroo">Partenariat Deliveroo</a></li>
    </ul>
  </div>
  <div class="tab-content main-trainings-right" id="menuTabContent">
    <div class="tab-pane fade active in" id="all" role="tabpanel" aria-labelledby="all-tab">
      <div class="row">
        {% assign trainings = site.trainings %}
        {% for training in trainings %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="leadership" role="tabpanel" aria-labelledby="leadership-tab">
      <div class="row">
        {% assign trainings_leadership = site.trainings | where: 'category', 'LEADERSHIP' %}
        {% for training in trainings_leadership %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="team-management" role="tabpanel" aria-labelledby="team-management-tab">
      <div class="row">
        {% assign trainings_team_management = site.trainings | where: 'category', 'TEAM MANAGEMENT' %}
        {% for training in trainings_team_management %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="communication" role="tabpanel" aria-labelledby="commmunication-tab">
      <div class="row">
        {% assign trainings_communication = site.trainings | where: 'category', 'COMMUNICATION' %}
        {% for training in trainings_communication %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
      <div class="row">
        {% assign trainings_business = site.trainings | where: 'category', 'BUSINESS DEVELOPMENT' %}
        {% for training in trainings_business %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab">
      <div class="row">
        {% assign trainings_project = site.trainings | where: 'category', 'PROJECT MANAGEMENT' %}
        {% for training in trainings_project %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="team-building" role="tabpanel" aria-labelledby="team-building-tab">
      <div class="row">
        {% assign trainings_team_building = site.trainings | where: 'category', 'TEAM BUILDING' %}
        {% for training in trainings_team_building %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="digital" role="tabpanel" aria-labelledby="digital-tab">
      <div class="row">
        {% assign trainings_digital = site.trainings | where: 'category', 'DIGITAL' %}
        {% for training in trainings_digital %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="tech" role="tabpanel" aria-labelledby="tech-tab">
      <div class="row">
        {% assign trainings_tech = site.trainings | where: 'category', 'TECH' %}
        {% for training in trainings_tech %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="deliveroo" role="tabpanel" aria-labelledby="deliveroo-tab">
      <div class="row">
        {% assign trainings_deliveroo = site.trainings | where: 'category', 'DELIVEROO' %}
        {% for training in trainings_deliveroo %}
          <div class="main-trainings-card col-xs-12 col-sm-4 col-lg-3" style="background-color: white; border: 2px solid {{training.category_colour}}">
            <a href="{{training.permalink}}">
            </a>
            <h5 style="color: {{training.category_colour}}">{{training.title | upcase}}</h5>
            <p style="color: {{training.category_colour}}">{{training.quote}}</p>
            <div class="training-main-info">
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_DATEwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_DATE.png" alt="" class='training-page-picto picto-black'>
                <div>
                  <p style="color: {{training.category_colour}}">{{training.duration}}</p>
                </div>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_LIEUwhite.png" alt="" class='training-page-picto-lieu picto-white'>
                <img src="/assets/img/PICTO_LIEU.png" alt="" class='training-page-picto-lieu picto-black'>
                <p style="color: {{training.category_colour}}">{{training.location}}</p>
              </div>
              <div class="training-main-info-flex">
                <img src="/assets/img/PICTO_TARIFSwhite.png" alt="" class='training-page-picto picto-white'>
                <img src="/assets/img/PICTO_TARIFS.png" alt="" class='training-page-picto picto-black'>
                <p style="color: {{training.category_colour}}">{{training.price}} par personne</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  cards = document.querySelectorAll('.main-trainings-card');
  test = document.querySelector('.main-trainings-card');
  color_test = 'r' + test.style.border.split('r')[1];
  cards.forEach(element => {
    element.addEventListener('mouseover', el => {
      color = 'r' + element.style.border.split('r')[1];
      title = event.currentTarget.querySelector('h5');
      texts = event.currentTarget.querySelectorAll('p');
      pictos_white = event.currentTarget.querySelectorAll('.picto-white');
      console.log(pictos_white);
      pictos_black = event.currentTarget.querySelectorAll('.picto-black');
      event.currentTarget.style.backgroundColor = color;
      title.style.color = 'white';
      texts.forEach(text => {
        text.style.color = 'white';
      })
      pictos_white.forEach(white => {
        white.style.display = 'block';
        white.style.visibility = 'visible';
        white.style.opacity = '1';
      })
      pictos_black.forEach(black => {
        black.style.display = 'none';
        black.style.visibility = 'hidden';
        black.style.opacity = '0';
      })
    })
    element.addEventListener('mouseout', el => {
      color = 'r' + element.style.border.split('r')[1];
      title = event.currentTarget.querySelector('h5');
      texts = event.currentTarget.querySelectorAll('p');
      pictos_white = event.currentTarget.querySelectorAll('.picto-white');
      console.log(pictos_white);
      pictos_black = event.currentTarget.querySelectorAll('.picto-black');
      event.currentTarget.style.backgroundColor = 'white';
      title.style.color = color;
      texts.forEach(text => {
        text.style.color = color;
      })
      pictos_white.forEach(white => {
        white.style.display = 'none';
        white.style.visibility = 'hidden';
        white.style.opacity = '0';
      })
      pictos_black.forEach(black => {
        black.style.display = 'block';
        black.style.visibility = 'visible';
        black.style.opacity = '1';
      })
    })
  })
</script>
