.border-none                       { border: none; }

.border-transparent-0_5px          { border: .5px solid transparent !important; }
.border-transparent-1px            { border: 1px solid transparent !important; }
.border-transparent-2px            { border: 2px solid transparent !important; }

.border-bs-white                  { border:        1px solid $bs-white !important; }
.border-top-bs-white              { border-top:    1px solid $bs-white !important; }
.border-right-bs-white            { border-right:  1px solid $bs-white !important; }
.border-left-bs-white             { border-left:   1px solid $bs-white !important; }
.border-bottom-bs-white           { border-bottom: 1px solid $bs-white !important; }

.border-bs-yellow                 { border:        1px solid $bs-yellow !important; }
.border-top-bs-yellow             { border-top:    1px solid $bs-yellow !important; }
.border-right-bs-yellow           { border-right:  1px solid $bs-yellow !important; }
.border-left-bs-yellow            { border-left:   1px solid $bs-yellow !important; }
.border-bottom-bs-yellow          { border-bottom: 1px solid $bs-yellow !important; }

.border-bs-yellow-2px             { border:        2px solid $bs-yellow !important; }
.border-top-bs-yellow-2px         { border-top:    2px solid $bs-yellow !important; }
.border-right-bs-yellow-2px       { border-right:  2px solid $bs-yellow !important; }
.border-left-bs-yellow-2px        { border-left:   2px solid $bs-yellow !important; }
.border-bottom-bs-yellow-2px      { border-bottom: 2px solid $bs-yellow !important; }


///////////
// FOCUS //
///////////

.vs-input-focus                { &:focus { background-color: $bs-white !important; box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25) !important; } }
