<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: 'fr' }}">
    {% include head.html %}
    <body class="page-{{ page.type }}{% if page.layout contains 'content' %} content{% endif %}{% if page.color %} {{ page.color }}{% endif %}">
      <main>
        <div class="width-100vw d-flex flex-column justify-content-between align-items-center
                    bs-bg-dark-grey min-height-100vh">
          {% include header.html %}
          {{ content }}
          {% include footer.html %}
        </div>
      </main>
    </body>
    <script src="/assets/javascripts/bootstrap.js"></script>
</html>
