<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: 'fr' }}">
    {% include head.html %}
    <link rel="icon" href="/assets/img/favicon.ico">
    <body class="page-{{ page.type }}{% if page.layout contains 'content' %} content{% endif %}{% if page.color %} {{ page.color }}{% endif %}">
      <main>
        <div class="container-seven">
          {{ content }}
        </div>
      </main>
    </body>
    <script src="/assets/javascripts/bootstrap.js"></script>
</html>
