// HOME

.footer-seven, .footer-seven-training-page {
  height: 87px;
  padding: 15px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0;
  }

  @include from-medium {
    padding: 20px 70px;
    height: 107px;
  }
}

.footer-links {
  margin-left: 15px;

  img {
    height: 20px;
  }
}

.footer-seven {
  position: absolute;
  bottom: 0;
  left: 0;
}

// LAB

.footer-lab-seven {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(75px, auto);;
  background-color: rgb(0,0,0);
  padding: 20px 50px;

  p {
    width: 100px;
    font-family: 'Poppins Bold';
  }

  a {
    width: 100px;
    font-family: 'Roboto Thin';
  }

  @include from-medium {
    height: 170px;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-lab-links-title {
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: auto;
  grid-row: 1;
}

.footer-lab-links-1 {
  width: 100px;
  grid-column: 1 / 3;
  grid-row: 2;
}

.footer-lab-links-2 {
  grid-column: 3;
  grid-row: 2;
}

.footer-lab-links-3 {
  grid-column: 1;
  grid-row: 3;
}

.footer-lab-links-4 {
  grid-column: 3;
  grid-row: 3;
}

.footer-lab-div {
  margin-bottom: 20px;

  @include from-medium {
    margin: 0;
  }
}

#seven-logo-footer {
  height: 30px;
}

.footer-lab-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90px;

  img {
    height: 15px;
  }
}

.footer-lab-links {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: flex-start;

  a {
    color: white;
  }
}

// TRAININGS

.footer-trainings-seven {
  width: 100%;
  // position: absolute;
  // bottom: 0;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(75px, auto);;
  background-color: rgb(0,0,0);
  padding: 20px 50px;
  margin-top: 50px;

  p {
    width: 100px;
    font-family: 'Poppins Bold';
  }

  a {
    width: 100px;
    font-family: 'Roboto Thin';
  }

  @include from-medium {
    height: 170px;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// TRAINING PAGE

.footer-seven-training-page {

  p {
    color: black;
  }
}
