// HOME

.header-links {

  .header-links__active {
    &::after {
      height: 2px;
      position: absolute;
      content: "";
      width: 100%;
      top: 100%;
      left: 0;
      background: #FFC447;
      transition: transform 0.5s;
      transform: scaleX(0);
      transform-origin: right;
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  & > a, .dropdown {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 4px 0;
    transition: 0.5s;
  }

  & > a::after, .dropdown::after {
    height: 2px;
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    background: #FFC447;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  & > a:hover::after, .dropdown:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

// .seven-burger-menu {
//   background-color: rgba(0,0,0,0);
//   top: -9px;
//   left: -135px;
//   box-shadow: none;
//   border: none;
//   cursor: default !important;
//   min-width: 0;

//   div {
//     display: flex;
//     flex-direction: column;
//     width: 110px;
//     align-items: flex-end
//   }

//   a {
//     font-family: 'Montserrat Bold';
//     font-size: 18.36px;
//     color: white;
//     margin-bottom: 5px;
//     border-bottom: 1px solid rgba(0,0,0,0);
//     width: min-content;
//     margin-bottom: 1rem;
//     opacity: 0;
//     transition: all .25s ease-in-out;
//     white-space: nowrap;

//     &:hover {
//       // border-bottom: 1px solid white;
//       color: #FBC84A;
//     }

//     @keyframes translateX {
//       0% {
//         opacity: 0;
//         transform: translateX(0px);
//       }
//       50% {
//       }
//       100% {
//         opacity: 1;
//         transform: translateX(-10px);
//       }
//     }
//   }

//   @for $item from 1 through 3 {
//     a:nth-of-type(#{$item}) {
//       animation: translateX 300ms ($item * 120ms) ease-in-out forwards;
//       // transform-origin: top center;
//     }
//   }
// }

.seven-header-dropdown-menu {
  background-color: rgba(0,0,0,0);
  top: 2.5rem;
  left: 0;
  box-shadow: none;
  border: none;
  cursor: default !important;
  min-width: 0;
  width: 10rem;
  overflow-x: hidden;

  a {
    font-family: 'Montserrat';
    font-size: 13px !important;
    font-weight:  700;
    color: white;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0);
    padding: .5rem 0;
    margin-left: -.75rem;
    opacity: 0;
    transition: all .25s ease-in-out;
    white-space: nowrap;

    &:hover {
      margin-left: .75rem;
    }

    @keyframes translateX {
      0% {
        opacity: 0;
        transform: translateX(0px);
      }
      50% {
      }
      100% {
        opacity: 1;
        transform: translateX(-10px);
      }
    }
  }

  @for $item from 1 through 3 {
    a:nth-of-type(#{$item}) {
      animation: translateX 300ms ($item * 120ms) ease-in-out forwards;
      // transform-origin: top center;
    }
  }
}

#dropdownMenuHeaderButton {

}

#dropdownMenuButton {
  width: 20px;
  height: 15px;
  position: relative;
  // margin: calc(50px / 3) auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  &:hover {

    span {
      background: #FBC84A;
    }
  }
}

#dropdownMenuButton span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#dropdownMenuButton span:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

#dropdownMenuButton span:nth-child(odd) {
  left:0px;
  border-radius: 3px 0 0 3px;
}

#dropdownMenuButton span:nth-child(1), #dropdownMenuButton span:nth-child(2) {
  top: 0px;
}

#dropdownMenuButton span:nth-child(3), #dropdownMenuButton span:nth-child(4) {
  top: 6px;
}

#dropdownMenuButton span:nth-child(5), #dropdownMenuButton span:nth-child(6) {
  top: 12px;
}

#dropdownMenuButton.open span:nth-child(1),#dropdownMenuButton.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#dropdownMenuButton.open span:nth-child(2),#dropdownMenuButton.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#dropdownMenuButton.open span:nth-child(1) {
  left: calc(5px / 3);
  top: calc(7px / 3);
}

#dropdownMenuButton.open span:nth-child(2) {
  left: calc(50% - calc(5px / 3));
  top: calc(7px / 3);
}

#dropdownMenuButton.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#dropdownMenuButton.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#dropdownMenuButton.open span:nth-child(5) {
  left: calc(5px / 3);
  top: calc(27px / 3);
}

#dropdownMenuButton.open span:nth-child(6) {
  left: calc(50% - calc(5px / 3));
  top: calc(27px / 3);
}

// LAB

.navbar-lab-seven {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  max-width: 1440px;
  top: 0;
  z-index: 20;
  transition: all 0.8s ease;
  width: 100%;
  background-color: rgb(255,255,255);

  img {
    height: 3rem;

    @include from-medium {
      margin: 7px 0;
      height: 33px;
    }
  }

  p {
    padding-left: 10px;
    color: black;
    font-family: 'Montserrat Bold';
    font-size: 18.36px;
    height: 20px;
    margin: 7px 0 21px 0;

    @include from-medium {
      margin: 7px 0;
    }
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  h2 {
    color: black;
    display: none;

    @include from-medium-high {
      display: inline-block;
      flex-direction: row;
    }
  }

  & > div {
    width: 53%;

    @include from-medium {
      width: auto;
    }
  }

  @include from-medium {
    padding: 30px 70px;
    flex-wrap: wrap;
  }
}

.btn-navbar-lab-1 {
  background-color: white;
  // border: 1px solid #95B9DB;
  display: flex;
  align-items: center;

  &:hover {

    p {
      color: #95B9DB;
    }
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: 0;
  }

  p {
    padding-left: 0;
    margin: 0;
    color: black;
    font-family: 'Montserrat Bold';
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
  }

  i {
    color: black;
    font-size: 2rem;
  }

  @include from-medium {

    p {
      font-size: 1.4rem;
    }

    i {
      display: none;
    }
  }
}

.btn-navbar-lab-2 {
  background-color: #95B9DB;
  border: 1px solid #95B9DB;
  display: flex;
  align-items: center;

  &:hover {

    p {
      color: black;
    }
  }

   p {
    padding-left: 0;
    margin: 0;
    color: white;
    font-family: 'Montserrat Bold';
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
  }

  @include from-medium {
    margin-right: 2rem;

    p {
      font-size: 1.4rem;
    }
  }
}

.dropdown-mobile {
  display: block;

  @include from-medium {
    display: none;
  }

  #dropdownMenuButtonLabMobile {
    width: 20px;
    height: 15px;
    position: relative;
    // margin: calc(50px / 3) auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #dropdownMenuButtonLabMobile span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: black;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #dropdownMenuButtonLabMobile span:nth-child(even) {
    left: 50%;
    border-radius: 0 3px 3px 0;
  }

  #dropdownMenuButtonLabMobile span:nth-child(odd) {
    left:0px;
    border-radius: 3px 0 0 3px;
  }

  #dropdownMenuButtonLabMobile span:nth-child(1), #dropdownMenuButtonLabMobile span:nth-child(2) {
    top: 0px;
  }

  #dropdownMenuButtonLabMobile span:nth-child(3), #dropdownMenuButtonLabMobile span:nth-child(4) {
    top: 6px;
  }

  #dropdownMenuButtonLabMobile span:nth-child(5), #dropdownMenuButtonLabMobile span:nth-child(6) {
    top: 12px;
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(1),#dropdownMenuButtonLabMobile.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(2),#dropdownMenuButtonLabMobile.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(1) {
    left: calc(5px / 3);
    top: calc(7px / 3);
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(2) {
    left: calc(50% - calc(5px / 3));
    top: calc(7px / 3);
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(5) {
    left: calc(5px / 3);
    top: calc(27px / 3);
  }

  #dropdownMenuButtonLabMobile.open span:nth-child(6) {
    left: calc(50% - calc(5px / 3));
    top: calc(27px / 3);
  }
}

.open > .dropdown-menu-lab {
  display: flex;
  flex-direction: column;
}

.dropdown-menu-lab {
  padding: 0;
  margin: 0;
  left: calc(-100vw + 30px);
  top: 233%;
  border-radius: 4px;
  border: none;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15);
  width: 100vw;

  .dropdown-item {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 1rem 2rem;
    color: black;
    font-family: 'Montserrat Regular';
    font-size: 1.4rem;
    transition: color 0.25s ease-in-out;
    text-align: center;

    &:first-of-type:hover {
      color: #5AC3C8;
    }

    &:nth-of-type(2):hover {
      color: #EF8C64;
    }

    &:last-of-type:hover {
      color: #F9D071;
    }
  }

  .dropdown-item:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
  }

  .dropdown-item:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 2rem;
  }

  i {
    position:absolute;
    top:-11px;
    left:95%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
  }

  i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color: white;
  }

  @include from-medium {
    left: -7.5rem;
    width: auto;
    top: 150%;

    .dropdown-item {
      text-align: left;
    }

    i {
      left:75%;
    }
  }
}

.navbar-category-menu {
  position: absolute;
  left: 100%;
  top: 80px;
  width: 287.67px;
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  transition: transform 1s ease;

  h4 {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 1rem 0;
    font-size: 14px;
    border-left: 1px solid #95B9DB;
    border-right: 1px solid #95B9DB;

    &:hover {
      background: #95B9DB;
      color: white;
      transition: all .3s ease;
    }
  }

  h4:first-of-type {
    border-top: 1px solid #95B9DB;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  h4:last-of-type {
    border-bottom: 1px solid #95B9DB;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


// TRAININGS

.navbar-trainings-seven {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  position: fixed;
  width: 100vw;
  max-width: 1440px;
  top: 0;
  z-index: 10;
  transition: all 0.8s ease;
  width: 100%;
  background-color: rgb(255,255,255);

  img {
    height: 3rem;

    @include from-medium {
      margin: 7px 0;
      height: 33px;
    }
  }

  p {
    padding-left: 10px;
    color: black;
    font-family: 'Montserrat Bold';
    font-size: 18.36px;
    height: 20px;
    margin: 7px 0 21px 0;

    @include from-medium {
      margin: 7px 0;
    }
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  h2 {
    color: black;
    display: none;

    @include from-medium-high {
      display: inline-block;
      flex-direction: row;
    }
  }

  @include from-large {
    padding: 30px 70px;
    flex-wrap: wrap;
  }

  // .navbar-trainings-logo {
  //   height: 33px;
  //   margin: 7px 0;
  //   padding-right: 10px;
  // }
}

.btn-navbar-trainings-1 {
  background-color: #F9D071;
  border: 1px solid #F9D071;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #F9D071;

    p {
      color: black;
    }
  }

  p {
    padding-left: 0;
    margin: 0;
    color: white;
    font-family: 'Montserrat Bold';
    font-size: 14px;
    transition: color 0.25s ease-in-out;
  }
}

.seven-burger-menu-trainings {
  background-color: rgba(0,0,0,0);
  top: 25px;
  left: -60px;
  box-shadow: none;
  border: none;

  div {
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: flex-end
  }

  a {
    font-family: 'Montserrat Bold';
    font-size: 18.36px;
    color: black;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0);
    width: min-content;
    // display: none;
    opacity: 0;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid white;
    }

    @keyframes translateX {
      0% {
        opacity: 0;
        transform: translateX(0px);
      }
      50% {
      }
      100% {
        opacity: 1;
        transform: translateX(-10px);
      }
    }
  }
  @for $item from 1 through 2 {
    a:nth-of-type(#{$item}) {
      animation: translateX 300ms ($item * 120ms) ease-in-out forwards;
      // transform-origin: top center;
    }
  }
}